<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InternetBank</title>
</head>
<body>
<div>История операций</div>
<form method="post">
    <div>За определенное число выбранного месяца в году</div>
    <input type="number" min="1" max="31" required placeholder="Число" name="filter1">
    <input type="number" min="1" max="12" required placeholder="Месяц" name="filter2">
    <input type="number" required placeholder="Год" name="filter3">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <button type="submit">Найти</button>
</form>
<a href="/main">Назад</a>
{{#operations}}
    <div>
        <div>--------------------------------------------</div>
        <i>{{day}}/</i><i>{{month}}/</i><i>{{year}}</i>
        <b>{{type}}</b>
        <th>На сумму: {{amount}}</th>
        {{#receiver}}
            Пользователю: {{receiver}}
        {{/receiver}}
        {{^receiver}}
        {{/receiver}}
    </div>
{{/operations}}
</body>
</html>