<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InternetBank</title>
</head>
<style>
    input:invalid {
        border-color: red;
    }
</style>
<body>
Здравствуйте, чтоб пользоваться нашим банком вам надо зарегистрироваться.
<form action="/registration" method="post">
    <div><label> Юзернейм:<input type="text" pattern="[A-Za-zА-Яа-яЁё0-9]+" placeholder="Уникальный идентификатор" name="username"/> </label></div>
    <div><label> Имя:     <input type="text" pattern="[A-Za-zА-Яа-яЁё]+" placeholder="Ваше имя" name="name"/> </label></div>
    <div><label> Пароль:  <input type="password" name="password"/> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <div><input type="submit" value="Sign In"/></div>
    {{#message1}}
        {{message1}}
    {{/message1}}
</form>


</body>
</html>


