<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InternetBank</title>
</head>
<body>
<form method="post">
    <div>Ваш баланс: </div>
{{#client}}
    <div>
        <b>{{balance}}</b>
    </div>
{{/client}}


    <div>Перевод денег</div>
    <div>
        <form method="post" action="transfer">
            <input type="number" min="1" name="transfer" required placeholder="Сумма" />
            <input type="text" name="username" required placeholder="Юзернейм получателя" />
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <button type="submit">Перевести деньги</button>
        </form>
        {{#message2}}
            {{message2}}
        {{/message2}}
    </div>
    <a href="/main">Назад</a>
</form>
</body>
</html>
