<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InternetBank</title>
</head>
<body>
<form method="post">
    <div>Ваш баланс: </div>
    {{#client}}
        <div>
            <b>{{balance}}</b>
        </div>
    {{/client}}
    <div>Снятие денег</div>
    <div>
        <form method="post" action="withdraw">
            <input type="number" min="1" name="withdraw" required placeholder="Сумма" />
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <button type="submit">Снять деньги</button>
        </form>
        {{#message3}}
            {{message3}}
        {{/message3}}
    </div>
    <a href="/main">Назад</a>
</form>
</body>
</html>
